body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: sans-serif;
    
}
.container
{
    height: 300px;
    width:350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.5);

}
.text
{
    font-size:50px;
    margin-bottom: 50px;
}
button{
    padding: 15px 50px;
    background: black;
    color: white;
    font-size: 20px;
}